@font-face{
    font-family: "My-Font";
    src: url('BreezeSans-RegularCondensed.ttf')  format('truetype');
}

body {
    width: 360px;
    height: 360px;
    background-color: black;
    margin: 0px!important;
}

.texto{
	color: #ffffff;
	top:45%;
    padding-top: 1%;
    text-align:left;
    display:inline-block;
    font: 450% My-Font!important;
}

#tudo{
	display:block;
	overflow-y: hidden;
	height :360px;
	width: 360px;
}
#str_temp{
	position:absolute;
	left:38%;
	color: #ffffff;
	top:65%;
    padding-top: 1%;
    text-align:center;
    display:inline-block;
    font: 200% My-Font!important;
}
#temp{
	position:absolute;
	left:38%;
	top:65%;
    padding-top: 1%;
    text-align:left;
    background-image:url("../img/thermometer49.png");
}

#str_console{
	position:relative;
	top:-4px;
}

#rec_time{
	width:80%;
	position:fixed;
	top:30%;
	left:1%;
	text-align:center;
}

@media screen and (-tizen-geometric-shape: circle) {
    #rec_time {
        height: 35%;
    }
    #str_day {
        padding-left: 30%;
    }
    #str_hours {
        padding-left: 20%;
    }
    #str_second {
        padding-top: 6%;
    }
}
